  .visuallyhidden {
      position: absolute;
      z-index: -1;
      right: 0;
      opacity: 0;

  }

  .card-carousel {
      --card-width: 80%;
      --card-max-width: 280px;
      --card-height: 450px;
      --carousel-min-width: 600px;
      z-index: 1;
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: var(--card-height);
      min-width: var(--carousel-min-width);
      transition: filter .3s ease;
      overflow: hidden;

  }

  .card-carousel.smooth-return {
      transition: all .2s ease;
  }

  .card-carousel .card {
      width: var(--card-width);
      max-width: var(--card-max-width);
      text-align: center;
      padding: 1em;
      min-width: 250px;
      height: var(--card-height);
      position: absolute;
      margin: 0 auto;
      color: rgba(247, 247, 247, 0.9);
      transition: inherit;
      filter: brightness(.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .lock img,
  .download img {
      transform: translateY(5px);
      width: 20px;
  }

  .card-carousel .card:hover .lock {
      color: rgb(173, 0, 0);
  }

  .card-carousel .card:hover .download {
      color: rgb(0, 173, 0);
  }

  .card.highlight {
      filter: brightness(1)
  }


  .card:nth-of-type(1) .image-container {
      background-image: url("/img/ebook/8.webp");
  }

  .card:nth-of-type(2) .image-container {
      background-image: url("/img/ebook/9.webp")
  }

  .card:nth-of-type(3) .image-container {
      background-image: url("/img/ebook/10.webp")
  }

  .card:nth-of-type(4) .image-container {
      background-image: url("/img/ebook/11.webp")
  }

  .card:nth-of-type(5) .image-container {
      background-image: url("/img/ebook/12.webp")
  }

  .card:nth-of-type(6) .image-container {
      background-image: url("/img/ebook/13.webp")
  }

  .card:nth-of-type(7) .image-container {
      background-image: url("/img/ebook/1.webp")
  }

  .card:nth-of-type(8) .image-container {
      background-image: url("/img/ebook/2.webp")
  }

  .card:nth-of-type(9) .image-container {
      background-image: url("/img/ebook/3.webp")
  }

  .card:nth-of-type(10) .image-container {
      background-image: url("/img/ebook/4.webp")
  }

  .card:nth-of-type(11) .image-container {
      background-image: url("/img/ebook/5.webp")
  }

  .card:nth-of-type(12) .image-container {
      background-image: url("/img/ebook/6.webp")
  }

  .card:nth-of-type(13) .image-container {
      background-image: url("/img/ebook/7.webp")
  }

  .image-container {
      width: 12em;
      height: 15em;
      position: relative;
      background-size: cover;
      margin-bottom: 0em;
      padding: 1em;

  }

  @media (max-width: 500px) {
      .card-carousel {
          --card-width: 80%;
          --card-max-width: 280px;
          --card-height: 400px;
          --carousel-min-width: 600px;
          z-index: 1;
          position: relative;
          margin: 0 auto;
          width: 100%;
          height: var(--card-height);
          min-width: var(--carousel-min-width);
          transition: filter .3s ease;
      }

      .image-container {
          width: 10em;
          height: 12.5em;
          position: relative;
          background-size: cover;
          margin-bottom: 0em;
          padding: 1em;

      }
  }