/*General*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth !important;
    font-family: 'frankruhlibre', sans-serif;
    transition: .4s;
}

@font-face {
    font-family: 'frankruhlibre';
    src: url('./fonts/FrankRuhlLibre-Bold.woff2') format('woff2'),
        url('./fonts/FrankRuhlLibre-Bold.woff') format('woff');
}

:root {
    --text-color: rgb(255, 255, 255);
    --background-banner: rgba(0, 0, 0, 0.600);
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
    font-size: 24px;
}

h1 {
    font-size: 48px;
    padding: 20px 0 20px 0;
}

h2 {
    font-size: 30px;
    padding: 20px 0 20px 0;
    text-align: center;
}

.scroll-animation {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-animation.active {
    opacity: 1;
    transform: translateY(0);
}

.hide {
    display: none;
}

/*Header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-banner);
    color: var(--text-color);
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    transition: height 0.3s;
}

.header-container {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#logo {
    transition: height 0.3s;
    height: 100px;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

.menu-button {
    display: none;
    cursor: pointer;
}

.icon-list2 {
    font-size: 1.5em;
    transition: transform 0.3s ease-in-out;
}

.icon-cross {
    transform: rotate(90deg);
}

/*Contents*/

main {
    height: 100%;
}

.container {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.container:nth-child(1) {
    background-image: url('../img/start.webp');
}

.container:nth-child(2) {
    background-image: url('../img/bowl.webp');
}

.container:nth-child(3) {
    background-image: url('../img/desktop.webp');
}

.container:nth-child(4) {
    background-image: url('../img/services.webp');
}

.container:nth-child(5) {
    background-image: url('../img/working.webp');
}

.container:nth-child(6) {
    background-image: url('../img/prices.webp');
}

.container:nth-child(7) {
    background-image: url('../img/footer.webp');
}

.container p {
    font-size: 24px;
    line-height: 1.5;

}

.center {
    text-align: center;
}

.left {
    padding: 0 25px 0 25px;
    text-align: left;
}

.button {
    margin-top: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
}

.button:hover {
    background-color: #232323;
    cursor: pointer;
}

.banner {
    width: 100%;
    background-color: var(--background-banner);
    color: var(--text-color);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    border-radius: 50px;
    background-color: var(--background-banner);
    color: var(--text-color);
    padding: 30px;
    margin:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-empty {
    width: 100%;
    color: var(--text-color);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logobig {
    max-width: 400px;
    max-height: 400px;
    margin: 0 50px 0 50px;
}

.info {
    text-align: center;
    margin: 0 50px 0 50px;
    margin: auto;
}

.col {
    flex-direction: column;
}

.padding {
    padding: 25px;
}

.mobile-image-container {
    display: none;
}

.image-container {
    display: block;
    max-width: 400px;
    max-height: 400px;
    margin: 0 50px 0 50px;
    border-radius: 50%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li {
    list-style-type: disc;
}

ul {
    padding: 50px;
    text-align: left;
}

/*Contact*/

form {
    text-align: left;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/*Footer*/

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #232323
}

.icon-envelope {
    color: white;
}

.icon-envelope:hover {
    cursor: pointer;
    text-decoration: underline;
}

.icon-circle-left,
.icon-circle-right {
    position: absolute;
    color: var(--text-color);
    cursor: pointer;
}

.icon-circle-left {
    left: 5%;
}

.icon-circle-right {
    right: 5%;
}

.icon-circle-left::before,
.icon-circle-right::before {
    font-size: 50px;
}

.slider {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
}

.slide {

    width: 100%;
    background-color: var(--background-banner);
    color: var(--text-color);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;

}

.list {
    margin: auto;
    padding: 0 10% 0 10%;
}

.slide.active {
    opacity: 1;
}

.alex {
    overflow: hidden;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.726);
}

.alex img{

    height: 100%;
    object-fit: cover;
}

/*Responsive*/
@media (max-width: 1200px) {

    body,
    html {
        font-size: 19px;
    }

    h1 {
        font-size: 35px;
        padding: 15px 0 15px 0;
    }

    h2 {
        font-size: 30px;
        padding: 10px 0 10px 0;
        text-align: center;
    }

    .container p {
        font-size: 16px;
    }

    ul {
        padding: 20px;
        text-align: left;
    }

    .container li {
        font-size: 16px;
    }

    .logobig {
        max-width: 300px;
        max-height: 300px;
        margin: 0 25px 0 25px;
    }

    .image-container {
        max-width: 250px;
        max-height: 250px;
        margin: 0 20px 0 20px;
    }
}


@media (max-width: 700px) {

    body,
    html {
        font-size: 24px;
    }

    h1 {
        font-size: 30px;
        padding: 10px 0 10px 0;
    }

    h2 {
        font-size: 25px;
        padding: 10px 0 10px 0;
        text-align: center;
    }

    .container p {
        font-size: 14px;
    }

    .container li {
        font-size: 14px;
    }


    .image-container {
        display: none;
    }

    .left {
        text-align: center;
    }

    .mobile-image-container {
        display: block;
        max-width: 100px;
        max-height: 100px;
        margin: 0 50px 0 50px;
        border-radius: 50%;
        overflow: hidden;
    }

    .mobile-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .open-header {
        background-color: rgba(0, 0, 0, 0.900);
    }

    header {
        height: 80px;
    }


    form {
        text-align: center;
        padding: 20px;
        border-radius: 5px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        display: none;
        margin-top: 10px;
        gap: 10px;
    }

    .content {
        flex-direction: column;
    }

    .menu-button {
        display: block;
    }

    #logo {
        height: 60px;
    }

    .container:nth-child(1) {
        background-image: url('../img/mobile-start.webp');
    }

    .logobig {
        display: none;
    }

    .padding {
        display: none;
    }

    form {
        padding: 10px;
    }
}