@font-face {
  font-family: "frankruhlibre";
  src: url("./font.woff2") format("woff2");
}

* {
  font-family: "frankruhlibre", sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-color: rgb(184, 184, 184) rgb(29, 29, 29);
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  scroll-behavior: smooth;
  transition: 0.4s;
  line-height: 1.5;
}

body,
html {
  height: 100%;
  font-size: 18px;
  background-color: black;
}

:root {
  --text: rgb(231, 231, 231);
  --text-hover: rgb(255, 255, 255);
  --background-banner: rgba(5, 5, 5, 0.6);
  --background-button: rgba(255, 255, 255, 0.8);
  --text-button: rgb(8, 8, 8);
  --hover-button: rgba(155, 155, 155, 0.8);
}

hr {
  margin-top: 20px;
  height: 3px;
  background-color: var(--background-button);
  margin-right: 20px;
  border-radius: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
Header
*/

#header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  color: var(--text);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border-bottom: 1px solid var(--text);
  width: 100%;
  animation: header-scroll linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 50px;
}

@keyframes header-scroll {
  to {
    border-bottom: 0;
    background-color: var(--background-banner);
  }
}

#header:hover {
  background-color: var(--background-banner);
}

.header-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#logo {
  transition: height 0.3s;
  height: 70px;
  padding: 10px 5px 5px 5px;
  animation: header-logo linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 50px;
}

@keyframes header-logo {
  to {
    height: 50px;
  }
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  color: var(--text);
  cursor: pointer;
}

.menu-button {
  display: none;
  cursor: pointer;
}

#button-menu {
  width: 1.5em;
  transition: transform 0.3s ease-in-out;
}

#button-menu2 {
  display: none;
  transform: rotate(90deg);
  width: 3rem;
  transition: transform 0.3s ease-in-out;
}


@media (max-width: 768px) {

  nav {
    display: none;
    gap: 30px;
  }

  #logo {
    height: 50px;
  }

  @keyframes header-logo {
    to {
      height: 40px;
    }
  }

  #header:target {
    display: flex;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }

  #header:target #button-menu2 {
    display: flex;
    right: 5%;
    position: absolute;
    transform: translateY(-50%);
  }

  #header:target #logo {
    display: flex;
    left: 5%;
    height: 5rem !important;
    position: absolute;
    transform: translateY(-50%);
  }

  #header:target #button-menu {
    display: none;
  }

  #header:target nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

}

@media (max-width: 310px) {
  #logo {
    height: 40px;
  }

  @keyframes header-logo {
    to {
      height: 30px;
    }
  }

}

/*Body*/

#video-background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 1.8rem;
  padding: 20px 0 20px 0;
}

h2 {
  font-size: 1.5rem;
  padding: 20px 0 20px 0;
  text-align: center;
}

.hide {
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

main {
  height: 100%;
}

.container {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  overflow: hidden;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 5% cover 20%;
}

.container li {
  font-size: 1rem;
}

.container p {
  font-size: 1rem;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container:nth-child(1) {
  min-height: 600px;
  background-image: url("./assets/wallpaper/1.webp");
}

.container:nth-child(2) {
  min-height: 900px;
  background-image: url("./assets/wallpaper/2.webp");
}

.container:nth-child(3) {
  min-height: 600px;
  background-image: url("./assets/wallpaper/3.webp");
}

.container:nth-child(4) {
  min-height: 900px;
  background-image: url("./assets/wallpaper/4.webp");
}

.container:nth-child(5) {
  min-height: 600px;
  background-image: url("./assets/wallpaper/5.webp");
}

.container:nth-child(6) {
  min-height: 900px;
  background-image: url("./assets/wallpaper/6.webp");
  justify-content: space-between;
}

.button {
  display: block;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  background-color: var(--background-button);
  color: var(--text-button);
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.button a {
  color: var(--text-button);
}

.banner {
  width: 100%;
  background-color: var(--background-banner);
  color: var(--text);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.working {
  width: 100%;
}

.background {
  background-color: var(--background-banner);
  color: var(--text);
  display: flex;
  justify-content: left;
  text-align: justify;
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  border-radius: 5px;

}

.background .text {
  padding: 0 30px 10px 30px;

}

.background .text li {
  margin: 10px;
}

details>summary {
  list-style: inside;
  list-style-type: "\227B";
}

summary.button::-webkit-details-marker {
  display: none;
}

details[open]>summary {
  list-style-type: "\22CE";
}

.background summary {
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

details>.background {
  animation: open-prices 0.3s ease-in-out;
}

.banner-empty {
  width: 100%;
  color: var(--text);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.content {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logobig {
  max-width: 600px;
  max-height: 600px;
  margin: 0 50px 0 50px;
}

.home {
  text-align: center;
  margin: auto;
  text-wrap: balance;
}

.aboutme {
  padding: 0 20px 0 20px;
  text-align: left;
  text-wrap: balance;

}

.aboutme p {
  margin-bottom: 20px;
}

.center {
  text-align: center;
  margin: auto;
}

#selectplan {
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-button);
  font-size: 1rem;
}

.col {
  flex-direction: column;
}

.padding {
  padding: 25px;
}

.mobile-image {
  display: none;
}

.alexito {
  display: block;
  max-width: 400px;
  max-height: 400px;
  min-width: 400px;
  min-height: 400px;
  margin: 0 20px 0 20px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.fatcs {
  margin: 50px;
  display: flex;
  text-align: center;
}

.list {
  max-width: 40%;
  margin: auto;
  padding: 0;
}

li {
  list-style-type: disc;
}

ul {
  text-align: left;
}

/*Slider*/

input.set {
  display: none;
}

#slide1:checked~.mask .overflow {
  margin-left: 0;
}

#slide2:checked~.mask .overflow {
  margin-left: -100%;
}

#slides {
  width: 80%;
  position: relative;
}

#slides .mask {
  width: 90%;
  overflow: hidden;
  margin: auto;
}

#slides .overflow {
  width: 400%;
  transition: all 0.5s ease-out;
}

#slides .slide {
  width: 25%;
  line-height: 200px;
  float: left;
}

#controls {
  width: 100%;

  label {
    display: none;
    height: 60px;
    font-size: 2rem;
    position: absolute;
    top: 45%;
    cursor: pointer;
  }
}


#slide1:checked~#controls label:nth-child(2) {
  right: 0;
  display: block;
}

#slide2:checked~#controls label:nth-child(1) {
  left: 0;
  display: block;
}

#image-container {
  display: flex;
  overflow: hidden;
  width: 300px;
}

.grid-contact {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  margin: auto;
}

.elfsight-app-7bbc17b5-0041-4db1-ae00-0d5016090815 {
  padding: 5px;
  opacity: 0.9 !important;
}

.contact {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: var(--background-button);
  color: var(--text-button);
  padding: 15px;
  display: flex;
  justify-content: center;
}

.contact img {
  width: 3rem;
  text-align: center;
}

.contact2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact2 img {
  width: 1.5rem;
}

.footer {
  display: block;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-banner);
}

.copyright {
  width: 100%;
  background-color: var(--text-button);
}

.cr {
  color: var(--text);
  font-size: 0.7rem;
}

.scroll-to-top {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 900;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--background-button);
  animation: btn-top linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
}

.scroll-to-top a {
  text-align: center;
  width: 100%;
  color: var(--text-button);
  font-size: 1.5rem;
  margin: auto;
}

@keyframes btn-top {
  to {
    opacity: 1;
  }
}

@media (max-width: 1500px) {

  .logobig {
    max-width: 500px;
    max-height: 500px;
    margin: 0 40px 0 40px;
  }
}

@media (max-width: 1300px) {

  body,
  html {
    font-size: 14px;
  }

  h2 {
    padding: 10px 0 10px 0;
  }

  .logobig {
    max-width: 400px;
    max-height: 400px;
    margin: 0 25px 0 25px;
  }

  .alexito {
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;
  }

}

@media (max-width: 768px) {

  body,
  html {
    font-size: 14px;
    background-color: black;
  }

  h2 {
    padding: 5px 0 5px 0;
  }

  hr {
    display: none;
  }

  .logobig {
    max-width: 200px;
    max-height: 200px;
    margin: 0 10px 0 10px;
  }

  .scroll-to-top {
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }


  #selectplan {
    margin-top: 30px;
  }

  .aboutme {
    padding: 8px;
    text-align: center;

  }

  .fatcs {
    margin: 0;
    display: block;
  }

  .list {
    max-width: 70%;
  }

  .alexito {
    display: none;
  }

  .mobile-image {
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin: 0 50px 0 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  .mobile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  form {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    display: none;
    margin-top: 10px;
    gap: 10px;
  }

  .content {
    flex-direction: column;
  }

  .menu-button {
    display: block;
  }

  .padding {
    display: none;
  }

  form {
    width: 100%;
    padding: 10px;
  }

  .grid-contact {
    gap: 10px;
  }

  .contact {
    padding: 10px;
  }

  .contact img {
    width: 1.5rem;
  }
}

@media (max-width: 310px) {

  body,
  html {
    font-size: 12px;
  }

  h1 {
    padding: 5px 0 5px 0;
  }
}

@keyframes open-prices {
  0% {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
}

/* eBooks */

.slider-ebooks {
  display: flex;
  max-width: 1200px;
  height: 350px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x proximity;
}

.ebook {
  text-align: center;
  margin: 0 auto;
  color: rgba(247, 247, 247, 0.9);
  transition: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ebook p {
  flex-grow: 1;
}

.text-container {
  display: flex;
  border-radius: 5px;
  align-items: center;
}

.text-container img {
  color: var(--text);
  width: 20px;
  height: 20px;
}

.image-container img {
  width: 12rem;
  height: 15rem;
  position: relative;
  background-size: cover;
}

@media (max-width: 768px) {
  #slides {
    margin: 10px auto;
    width: 95%;
    position: relative;
  }

  #slides .mask {
    width: 100%;
    overflow: hidden;
    margin: auto;
  }

  .slider-ebooks {
    height: 250px;
  }
}

/* Hover Effects */

@media only screen and (min-width: 768px) {
  nav a:hover {
    color: var(--text-hover);
    text-shadow: #ccc 1px 0 10px;
  }

  #controls label:hover {
    scale: 1.5;
  }

  .background summary:hover {
    cursor: pointer;

  }

  .cr:hover {
    text-decoration: underline;
  }

  .contact:hover {
    background-color: var(--hover-button);
    scale: 1.2;

  }

  #selectplan:hover {
    cursor: pointer;
  }

  .button:hover {
    background-color: var(--hover-button);
    cursor: pointer;
  }

  .scroll-to-top:hover {
    background-color: var(--hover-button);
  }

  .ebook:hover {
    scale: 1.1;
  }

  .ebook:hover .text-container {
    color: rgb(173, 0, 0);
  }

  .ebook:hover .unlock {
    color: rgb(0, 173, 0);
  }
}