@font-face {
  font-family: "frankruhlibre";
  src: url("./fonts/FrankRuhlLibre-Bold.woff2") format("woff2"),
    url("./fonts/FrankRuhlLibre-Bold.woff") format("woff");
}

* {
  font-family: "frankruhlibre", sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: rgb(184, 184, 184) rgb(29, 29, 29);
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  scroll-behavior: smooth;
  transition: 0.4s;
  line-height: 1.5;
}

body,
html {
  height: 100%;
  font-size: 20px;
  background-color: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

:root {
  --text: rgb(231, 231, 231);
  --text-hover: rgb(255, 255, 255);
  --background-banner: rgba(0, 0, 0, 0.6);
  --background-button: rgba(255, 255, 255, 0.85);
  --text-button: rgb(0, 0, 0);
  --hover-button: rgba(155, 155, 155, 0.85);
}

hr {
  margin-top: 20px;
  height: 3px;
  background-color: var(--background-button);
  margin-right: 20px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgb(0, 0, 0);
}

#loader img {
  animation: spin 2s linear infinite;
  color: var(--background-button);
  width: 10vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
Header
*/

#header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-banner);
  color: var(--text);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.3s;
  width: 100%;
}

.header-container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#logo {
  transition: height 0.3s;
  height: 70px;
  padding: 10px 5px 5px 5px;
  animation: header-logo linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 50px;
}

@keyframes header-logo {
  to {
    height: 50px;
  }
}



nav {
  display: flex;
  gap: 40px;

}

nav a {
  color: var(--text);

}

.menu-button {
  display: none;
  cursor: pointer;
}

#button-menu {
  width: 1.5em;
  transition: transform 0.3s ease-in-out;
}

#button-menu2 {
  display: none;
  transform: rotate(90deg);
  width: 3em;
  transition: transform 0.3s ease-in-out;
}


@media (max-width: 768px) {

  nav {
    display: none;
    gap: 30px;
  }

  #logo {
    height: 50px;
  }

  @keyframes header-logo {
    to {
      height: 40px;
    }
  }

  #header.open-header {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .open-header #button-menu2 {
    right: 5%;
    position: absolute;
    transform: translateY(-50%);
  }

  .open-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .open-header #logo {
    transform: translateY(-50%);
    height: 90px;
    left: 5%;
    position: absolute;
  }
}

@media (max-width: 310px) {
  #logo {
    height: 40px;
  }

  @keyframes header-logo {
    to {
      height: 30px;
    }
  }

  .open-header #logo {
    height: 50px;
    left: 1%;
  }

  .open-header #button-menu2 {
    right: 3%;
  }
}


/*Body*/

#video-background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  width: 24px;
  height: 24px;
}

.text {
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  padding: 20px 0 20px 0;
}

h2 {
  font-size: 1.5rem;
  padding: 20px 0 20px 0;
  text-align: center;
}

.hide {
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

main {
  height: 100%;
}

.container {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  overflow: hidden;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

.container li {
  font-size: 1rem;
}

.container p {
  font-size: 1rem;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container:nth-child(1) {
  min-height: 600px;
  background-image: url("./img/start.webp");
}

.container:nth-child(2) {
  min-height: 900px;
  background-image: url("./img/desktop.webp");
}

.container:nth-child(3) {
  min-height: 800px;
  background-image: url("./img/services.webp");
}

.container:nth-child(4) {
  min-height: 900px;
  background-image: url("./img/working.webp");
}

.container:nth-child(5) {
  min-height: 1000px;
  background-image: url("./img/prices.webp");
  /* background-image: url("./img/alesito.webp");
  background-color: rgb(212, 206, 200);
  background-size: contain;
  background-position: right bottom; */
}

.container:nth-child(6) {
  min-height: 600px;
  background-image: url("./img/ebooks.webp");
}

.container:nth-child(7) {
  min-height: 600px;
  background-image: url("./img/footer.webp");
}

.center {
  text-align: center;
}

.left {
  padding: 0 25px 0 25px;
  text-align: left;
}

.button {
  margin-top: 30px;
  border-radius: 5px;
  background-color: var(--background-button);
  color: var(--text-button);
  font-size: 20px;
  padding: 10px;
}

.banner {
  width: 100%;
  background-color: var(--background-banner);
  color: var(--text);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.custom {
  max-width: 50%;
  min-width: 50%;
}

.background {
  border-radius: 20px;
  background-color: var(--background-banner);
  color: var(--text);
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: left;
  text-align: justify;
}

.background b {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.scheme1 {
  border-radius: 20px;
  background-color: rgba(90, 115, 109, 0.7);
  color: var(--text);
  padding: 20px;
  margin: 30px;
  display: flex;
  justify-content: center;
  text-align: left;
  max-width: 400px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.scheme2 {
  border-radius: 20px;
  background-color: rgba(77, 90, 93, 0.7);
  color: var(--text);
  padding: 20px;
  margin: 30px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  text-align: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.mobile {
  display: none;
}

.line-container {
  position: relative;
}

.line-container .line {
  width: 5px;
  background: linear-gradient(to bottom,
      rgba(90, 115, 109, 0.7),
      rgba(77, 90, 93, 0.7));
  height: 500px;
  margin: 0 auto;
}

.line-container .circle1 {
  width: 35px;
  height: 35px;
  background-color: rgba(90, 115, 109, 0.7);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -35px;
}

.line-container .circle2 {
  width: 35px;
  height: 35px;
  background-color: rgba(77, 90, 93, 0.7);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35px;
}

.banner-empty {
  width: 100%;
  color: var(--text);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.content {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logobig {
  max-width: 600px;
  max-height: 600px;
  margin: 0 50px 0 50px;
}

.aboutme {
  padding-top: 30px;
}

.info {
  text-align: center;
  margin: auto;
}

#selectplan {
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-button);
  font-size: 20px;
}

.col {
  flex-direction: column;
}

.padding {
  padding: 25px;
}

.separator {
  padding: 25px;
}

.mobile-image-container {
  display: none;
}

.alexito {
  display: block;
  max-width: 400px;
  max-height: 400px;
  margin: 0 50px 0 50px;
  border-radius: 50%;
  overflow: hidden;
}

.alexito img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fatcs {
  margin: 50px;
  display: flex;
  text-align: center;
}

.list {
  max-width: 40%;
  margin: auto;
  padding: 0;
}

li {
  list-style-type: disc;
}

ul {
  text-align: left;
}

/*Slider*/

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider {
  width: 100%;
  height: 400px;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: var(--background-banner);
}

.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  transform-origin: center center;
  transform: scale(1);
}

.slide a {
  background: none;
  border: none;
}

a.slide__prev,
.slider::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
  position: absolute;
  top: 48%;
  width: 30px;
  height: 30px;
  border: solid var(--text);
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slider::before,
.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--text);
  margin: 0 10px 0 10px;
}

#image-container {
  display: flex;
  overflow: hidden;
  width: 300px;
}

#image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

form {
  width: 500px;
  text-align: left;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin: 50px;
  width: 250px;
  background-color: var(--background-button);
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  color: var(--text-button);
  font-size: 1rem;
}

.contact2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #232323;
}

.footer p {
  font-size: 1rem;
}

.copyright {
  background-color: #000000;
}

.alex {
  overflow: hidden;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.726);
}

.alex img {
  margin: auto;
  height: 150%;
  object-fit: cover;
}

.cr {
  color: var(--text);
  font-size: 0.9rem;
}

.navigate_left {
  left: 2%;
}

.scroll-to-top {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 900;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--background-button);
  animation: btn-top linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
}

.scroll-to-top a {
  text-align: center;
  width: 100%;
  color: var(--text-button);
  font-size: 1.5rem;
  margin: auto;
}

@keyframes btn-top {
  to {
    opacity: 1;
  }
}

@media (max-width: 1500px) {

  .logobig {
    max-width: 500px;
    max-height: 500px;
    margin: 0 40px 0 40px;
  }
}

@media (max-width: 1300px) {

  body,
  html {
    font-size: 16px;
  }

  h2 {
    padding: 10px 0 10px 0;
  }

  .logobig {
    max-width: 400px;
    max-height: 400px;
    margin: 0 25px 0 25px;
  }

  .alexito {
    max-width: 250px;
    max-height: 250px;
    margin: 0 20px 0 20px;
  }

  .line-container .line {
    height: 350px;
  }
}

@media (max-width: 950px) {
  .contact div {
    margin: 50px;
    width: 220px;
  }
}

@media (max-width: 768px) {

  body,
  html {
    font-size: 14px;
    background-color: black;
  }

  h2 {
    padding: 5px 0 5px 0;
  }

  hr {
    display: none;
  }

  .separator {
    padding: 5px;
  }

  .logobig {
    max-width: 200px;
    max-height: 200px;
    margin: 0 10px 0 10px;
  }

  .scroll-to-top {
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }

  .button {
    font-size: 18px;
  }

  #selectplan {
    margin-top: 30px;
    font-size: 18px;
  }

  .contact div {
    margin: 40px;
    width: 200px;
  }

  .aboutme {
    padding-top: 5px;
  }

  .mobile {
    display: flex;
  }

  .scheme2 {
    margin-top: 10px;
  }

  .fatcs {
    margin: 0;
    display: block;
  }

  .list {
    max-width: 70%;
  }

  .alexito {
    display: none;
  }

  .navigate_left,
  .navigate_right {
    width: 20px;
    height: 20px;
  }

  .custom {
    max-width: 100%;
    min-width: 100%;
  }

  .left {
    text-align: center;
  }

  .mobile-image-container {
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin: 0 50px 0 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  .mobile-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .line-container {
    display: none;
  }

  .footer {
    padding: 5px;
  }

  form {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    display: none;
    margin-top: 10px;
    gap: 10px;
  }

  .content {
    flex-direction: column;
  }

  .menu-button {
    display: block;
  }

  .container:nth-child(4) {
    min-height: 1200px;
    background-image: url("./img/working.webp");
  }

  .container:nth-child(5) {
    min-height: 1000px;
  }

  .padding {
    display: none;
  }

  form {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 310px) {

  body,
  html {
    font-size: 12px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .contact div {
    width: 150px;
  }

  h1 {
    padding: 5px 0 5px 0;
  }
}

details>.background {
  animation: open-prices 0.3s ease-in-out;
  overflow: hidden;
}

@keyframes open-prices {
  0% {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
}

/* eBooks */

.slider-ebooks {
  display: flex;
  max-width: 1200px;
  height: 400px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x proximity;
}

.ebook {
  text-align: center;
  margin: 0 auto;
  color: rgba(247, 247, 247, 0.9);
  transition: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ebook .text-container {
  display: flex;
  border-radius: 5px;
  align-items: center;
}

.ebook img {
  color: var(--text);
  width: 20px;
  height: 20px;
}

.ebook p {
  flex-grow: 1;
}

.ebook:nth-of-type(1) .image-container {
  background-image: url("./img/ebook/1.webp");
}

.ebook:nth-of-type(2) .image-container {
  background-image: url("./img/ebook/2.webp");
}

.ebook:nth-of-type(3) .image-container {
  background-image: url("./img/ebook/3.webp");
}

.ebook:nth-of-type(4) .image-container {
  background-image: url("./img/ebook/4.webp");
}

.ebook:nth-of-type(5) .image-container {
  background-image: url("./img/ebook/5.webp");
}

.ebook:nth-of-type(6) .image-container {
  background-image: url("./img/ebook/6.webp");
}

.ebook:nth-of-type(7) .image-container {
  background-image: url("./img/ebook/7.webp");
}

.ebook:nth-of-type(8) .image-container {
  background-image: url("./img/ebook/8.webp");
}

.ebook:nth-of-type(9) .image-container {
  background-image: url("./img/ebook/9.webp");
}

.ebook:nth-of-type(10) .image-container {
  background-image: url("./img/ebook/10.webp");
}

.ebook:nth-of-type(11) .image-container {
  background-image: url("./img/ebook/11.webp");
}

.ebook:nth-of-type(12) .image-container {
  background-image: url("./img/ebook/12.webp");
}

.ebook:nth-of-type(13) .image-container {
  background-image: url("./img/ebook/13.webp");
}

.ebook:nth-of-type(14) .image-container {
  background-image: url("./img/ebook/14.webp");
}

.ebook:nth-of-type(15) .image-container {
  background-image: url("./img/ebook/15.webp");
}

.ebook:nth-of-type(16) .image-container {
  background-image: url("./img/ebook/16.webp");
}

.ebook:nth-of-type(17) .image-container {
  background-image: url("./img/ebook/17.webp");
}

.ebook:nth-of-type(18) .image-container {
  background-image: url("./img/ebook/18.webp");
}

.ebook:nth-of-type(19) .image-container {
  background-image: url("./img/ebook/19.webp");
}

.ebook:nth-of-type(20) .image-container {
  background-image: url("./img/ebook/20.webp");
}

.ebook:nth-of-type(21) .image-container {
  background-image: url("./img/ebook/21.webp");
}

.ebook:nth-of-type(22) .image-container {
  background-image: url("./img/ebook/22.webp");
}

.ebook:nth-of-type(23) .image-container {
  background-image: url("./img/ebook/23.webp");
}

.ebook:nth-of-type(24) .image-container {
  background-image: url("./img/ebook/24.webp");
}

.ebook:nth-of-type(25) .image-container {
  background-image: url("./img/ebook/25.webp");
}

.image-container {
  width: 12em;
  height: 15em;
  position: relative;
  background-size: cover;
}

@media (max-width: 768px) {
  .slider-ebooks {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .slider-ebooks {
    height: 220px;
  }

  .image-container {
    width: 10em;
    height: 12.5em;
  }
}

/* Hover Effects */

@media only screen and (min-width: 768px) {
  nav a:hover {
    color: var(--text-hover);
    text-shadow: #ccc 1px 0 10px;
  }

  .cr:hover {
    text-decoration: underline;
  }

  #email:hover,
  #number:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .contact:hover div {
    background-color: var(--hover-button);
  }

  .navigate_left:hover,
  .navigate_right:hover {
    scale: 1.5;
  }

  #selectplan:hover {
    cursor: pointer;
  }

  .scheme1:hover,
  .scheme2:hover {
    scale: 1.02;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .button:hover {
    background-color: var(--hover-button);
    cursor: pointer;
  }

  .scroll-to-top:hover {
    background-color: var(--hover-button);
  }

  .ebook:hover {
    scale: 1.1;
  }

  .ebook:hover .text-container {
    color: rgb(173, 0, 0);
  }

  .ebook:hover .unlock {
    color: rgb(0, 173, 0);
  }
}